#innerTest{
    color: blue;
}
.innerTest1{
    color: red;
}
.innerTest2{
    background-color: pink;
}
[defname]{
    background-color: aqua;
}

.leftwords{
    border: 1px solid red;
    width: 200px;
    height: 100px;

    float: left;
}

.rightwords{
    border: 1px solid red;
    width: 200px;
    height: 100px;

    float: left;

}

.margintest1{
    border: 1px solid red;
    width: 200px;
    height: 100px;

    float: left;
}

.margintest2{
    border: 1px solid red;
    width: 200px;
    height: 100px;

    float: left;
}